//main: styles.less

.hidden {
  display: none;

  &__media-tablet {
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.ai-c {
  align-items: center;
}

.d-f {
  display: flex;
}

.p-r {
  position: relative;
}

.ta-l {
  text-align: left;
}

.pad5 {
  padding: 0.5rem;
}

.pad7 {
  padding: 0.7rem;
}

.pad10 {
  padding: 1rem;
}

.pad15 {
  padding: 1.5rem;
}

.pad30 {
  padding: 3rem;
}

.pad-bot10 {
  padding-bottom: 1rem;
}

.pad12-30 {
  padding: 1.25rem 3rem;
}

.pad15-20 {
  padding: 1.5rem 2rem;
}

.pad10-30 {
  padding: 1rem 3rem;
  @media (max-width: $mobile) {
    padding: 1rem 2rem;
  }
}

.pad15-30 {
  padding: 1.5rem 3rem;
  @media (max-width: $mobile) {
    padding: 1rem 2rem;
  }
}

.pad20-15 {
  padding: 2rem 1.5rem;
}

.pad30-50 {
  padding: 3rem 5rem;
  @media (max-width: $mobile) {
    padding: 2.5rem 4rem;
  }
}

.pad30-70 {
  padding: 3rem 7rem;
}

.mar-bottom20 {
  margin-bottom: 2rem;
}

.br2 {
  border: 2px solid $white;
}

.br-bottom2 {
  border-bottom: 2px solid $white;
}

.br-bottom5 {
  border-bottom: 5px solid $white;
}

.brr5 {
  border-radius: 0.5rem;
}

.brr10 {
  border-radius: 1rem;
}

.brr50p {
  border-radius: 50%;
}

.brc-lightblue {
  border-color: $lightblue;
}

.brc-grey {
  border-color: $grey;
}

.brc-grey-medium {
  border-color: $grey-medium;
}

.f-brc-yellow {
  &:focus {
    border-color: $yellow;
  }
}

.h-brc-yellow {
  &:hover {
    border-color: $yellow;
  }
}

.h-brc-red {
  &:hover {
    border-color: $red;
  }
}

.bc-none {
  background: none;
}

.bcc-white {
  background-color: $white;
}

.bcc-mudblue {
  background-color: #455358;
}

.bcc-coral {
  background-color: #fe725b;
}

.bcc-yellow {
  background-color: $yellow;
}

.bcc-lightblue {
  background-color: $lightblue;
}

.bcc-whiteblue {
  background-color: #e8f0fd;
}

.h-bcc-yellow {
  &:hover {
    background-color: $yellow;
  }
}

.grey {
  color: $grey;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.lightblue {
  color: $lightblue;
}

.h-yellow {
  &:hover {
    color: $yellow;
  }
}

.h-red {
  &:hover {
    color: $red;
  }
}

.h-grey {
  &:hover {
    color: $grey;
  }
}

.h-thinblue {
  &:hover {
    color: rgb(137, 171, 235);
  }
}

.uppercase {
  text-transform: uppercase;
}

.fz15 {
  font-size: 1.5rem;
}

.fz17 {
  font-size: 1.7rem;
}

.fz175 {
  font-size: 1.75rem;
  @media (max-width: $mobile) {
    font-size: 1.5rem;
  }
}

.fz20 {
  font-size: 2rem;
}

.fw-normal {
  font-weight: normal;
}

.fw-bold {
  font-weight: bold;
}

.width50 {
  width: 50%;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.height4r {
  height: 4rem;
}

.inline-block {
  display: inline-block;
}

.inactive {
  cursor: auto;
  background-color: rgb(218, 38, 38);

  &:hover {
    color: $white;
    background-color: rgb(218, 38, 38);
  }
}

.h-opacity09 {
  &:hover {
    opacity: 0.8;
  }
}

.border-green {
  border: 2px solid rgb(35, 200, 35);

  &:focus {
    border: 2px solid rgb(35, 200, 35);
  }
}
