*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 10px;
  font-family: "Alata", sans-serif; }

body {
  margin: 0;
  font-size: 1.5rem;
  color: black; }

main {
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

input {
  display: block;
  width: 100%;
  height: 3rem;
  border: none;
  font-family: inherit;
  background-color: none; }
  input:focus {
    outline: none; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem; }
  @media (max-width: 991px) {
    .container {
      padding: 0.75rem; } }

.header {
  padding: 0;
  background-color: #4257b2;
  position: relative;
  transition: all 0.1 linear;
  z-index: 40; }

.header__content {
  display: flex;
  justify-content: space-between; }

.header__title {
  font-size: 2rem;
  color: #ffffff; }
  @media (max-width: 620px) {
    .header__title {
      font-size: 1.5rem; } }
  @media (max-width: 350px) {
    .header__title {
      font-size: 1.25rem; } }

.header__buttons-start,
.header__buttons-regular {
  display: flex;
  align-items: center; }

.header__btn-holder {
  padding-left: 2rem;
  margin: auto; }

@media (max-width: 620px) {
  .header__btn-holder.regular {
    display: none; } }

.header__button-game-back,
.header__button-game-options {
  display: none; }
  @media (max-width: 991px) {
    .header__button-game-back,
    .header__button-game-options {
      display: block; } }

.header__button-game-back button svg {
  margin: 0.25rem; }

.header__btn-menu {
  display: none; }
  @media (max-width: 620px) {
    .header__btn-menu {
      display: inline-block; } }

.header__menu {
  position: absolute;
  display: none;
  flex-direction: column;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 1;
  transform: translateY(100%);
  box-shadow: 0 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.28); }
  @media (max-width: 620px) {
    .header__menu {
      display: flex; } }

.header__menu-item {
  cursor: pointer;
  display: block;
  padding: 0.75rem;
  text-align: center;
  color: #4e4e4e;
  transition: all 0.1s linear;
  font-weight: bold;
  border-bottom: 1px solid #f0f0f0;
  z-index: 2;
  min-width: 17rem; }
  .header__menu-item:hover {
    background-color: #ffcd1f; }
  .header__menu-item:first-child {
    position: relative; }

.header__triangle {
  position: absolute;
  top: 1px;
  right: 1rem;
  height: 1rem;
  width: 2rem;
  background-color: #ffffff;
  transform: translateY(-100%);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  z-index: 10; }

.start__content {
  display: flex;
  height: 50rem; }

.start__intro {
  margin: auto;
  text-align: center; }

.start__welcome {
  font-size: 2rem;
  margin-bottom: 2rem; }
  @media (max-width: 620px) {
    .start__welcome {
      font-size: 1.5rem; } }

.textarea {
  display: block;
  resize: none;
  width: 100%;
  max-width: 100%;
  font-family: inherit;
  font-size: 1.7rem;
  text-align: left;
  overflow-wrap: break-word;
  border: none;
  border-bottom: 2px solid #4e4e4e;
  padding: 0.5rem 0; }
  .textarea:focus {
    outline: none;
    border-bottom: 2px solid #ffcd1f; }
  .textarea--module {
    padding: 1rem 0; }
  .textarea.error {
    border-color: red; }

.label {
  display: block;
  width: 100%;
  text-align: left;
  color: #4e4e4e;
  font-size: 1.5rem;
  text-transform: uppercase; }
  .label.error {
    color: red; }

.btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.1s linear; }
  .btn:focus {
    outline: none; }

.modal {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(43, 42, 44, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }

.modal__dialog {
  width: 100%;
  max-width: 600px;
  margin: auto;
  position: relative;
  background-color: #ffffff;
  z-index: 2000;
  transition: all 0.3s ease-out;
  opacity: 0%;
  transform: translateY(-30vh); }
  @media (max-width: 620px) {
    .modal__dialog {
      max-width: none;
      height: 100%; } }
  .modal__dialog.activated {
    opacity: 100%;
    transform: translateY(0vh); }

.modal__header {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: #4257b2; }
  @media (max-width: 620px) {
    .modal__header {
      padding: 1.5rem; } }

.modal__title {
  color: #ffffff;
  font-size: 2.5rem; }

.modal__close {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  border: 3px solid #3b4c9b;
  border-radius: 25px;
  transition: all 0.1s linear; }
  .modal__close svg {
    transform: translate(1px, 1px); }
  .modal__close:hover {
    background-color: #3b4c9b; }

.modal__content {
  padding: 2.5rem; }
  @media (max-width: 620px) {
    .modal__content {
      padding: 1.5rem; } }

.modal__label {
  margin-bottom: 1.5rem; }

.modal__log-in,
.modal__sign-up {
  text-align: center;
  position: relative; }
  .modal__log-in[data-checking="true"] button,
  .modal__sign-up[data-checking="true"] button {
    background-color: #ffcd1f;
    cursor: auto; }
    .modal__log-in[data-checking="true"] button span,
    .modal__sign-up[data-checking="true"] button span {
      visibility: hidden; }
  .modal__log-in[data-checking="true"] .modal__loading-spinner,
  .modal__sign-up[data-checking="true"] .modal__loading-spinner {
    display: block; }

.modal__loading-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(180deg);
  transform-origin: center;
  margin: -1.5rem 0 0 -1.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 4px solid #ffffff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  animation: spin 1.25s linear infinite; }

.modal__options {
  text-align: center;
  padding: 1rem; }
  .modal__options p {
    margin: 0; }

.modal__error-list {
  color: red;
  padding: 1rem 4rem;
  border: 2px solid red;
  border-radius: 2rem;
  margin: 1rem 0rem; }

.modal__choice {
  display: flex; }

.modal__choice-item {
  width: 50%;
  padding: 0.5rem; }

.home {
  background-color: #f0f0f0; }

.home__content {
  position: relative;
  min-height: 90rem; }

.home__nickname {
  font-size: 2.5rem; }
  @media (max-width: 620px) {
    .home__nickname {
      font-size: 2rem; } }

.home__content-header {
  background-color: #ffffff;
  margin: 2rem;
  padding: 2rem; }
  @media (max-width: 620px) {
    .home__content-header {
      margin: 2rem 0; } }

.home__filter-container {
  display: inline-block;
  margin-top: 1rem; }

.home__filter {
  display: flex;
  border: 2px solid #cecece;
  border-radius: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0; }

.home__filter-item {
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-left: 2px solid #cecece;
  color: #3ccfcf;
  transition: all 0.1s linear; }
  @media (max-width: 620px) {
    .home__filter-item {
      padding: 0.75rem 1.5rem; } }
  .home__filter-item:first-child {
    border-left: none; }
  .home__filter-item:hover {
    color: #ffcd1f; }
  .home__filter-item.active {
    background-color: #ffcd1f;
    color: #4e4e4e;
    border-color: #ffcd1f; }
    .home__filter-item.active:hover {
      color: #4e4e4e; }
    .home__filter-item.active + li {
      border-color: #ffcd1f; }

.home__content-module-cont {
  background-color: #f0f0f0;
  padding: 2rem; }
  @media (max-width: 620px) {
    .home__content-module-cont {
      padding: 2rem 0; } }

.home__input-cont {
  max-width: 40rem;
  margin-left: auto; }

.home__module-search {
  margin-bottom: 4rem; }

.home__divider {
  display: flex;
  margin: 0 1rem 2rem 0;
  margin-top: 2rem; }
  .home__divider:first-child {
    margin-top: 0rem; }

.home__divider-text {
  flex-grow: 0;
  margin-right: 2rem;
  text-align: left;
  text-transform: uppercase;
  color: black; }

.home__divider-line {
  background-color: #b6b6b6;
  flex-grow: 10;
  margin: auto;
  text-align: center;
  height: 1px; }

.home__module {
  cursor: pointer;
  background-color: #ffffff;
  padding: 1rem 2rem;
  margin-bottom: 1rem; }

.home__module-info {
  display: flex;
  margin-bottom: 0.5rem; }

.home__term-number {
  padding-right: 1rem;
  line-height: 1.5rem;
  color: #4e4e4e; }

.home__module-author {
  border-left: 2px solid #f0f0f0;
  padding-left: 1rem;
  line-height: 1.5rem;
  color: #4e4e4e; }

.home__module-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #4e4e4e; }
  .home__module-title.blue {
    color: #4257b2; }
  .home__module-title svg {
    fill: #c7c7c7;
    margin-left: 0.5rem;
    height: 18px;
    width: 18px; }
  @media (max-width: 350px) {
    .home__module-title {
      font-size: 2rem; } }

.module {
  display: flex;
  flex-direction: column;
  min-height: 90vh; }

.module__header {
  flex-grow: 0;
  padding: 2rem 0; }

.module__header-top {
  display: flex; }

.module__title {
  width: 60%;
  color: #4e4e4e; }
  @media (max-width: 620px) {
    .module__title {
      font-size: 1.3rem; } }

.module__return {
  width: 40%;
  text-align: right; }

.module__body {
  flex-grow: 1;
  padding: 3rem 0;
  background-color: #f0f0f0; }

.module__title {
  margin-bottom: 3rem; }

.module__study {
  padding-bottom: 4rem;
  border-bottom: 2px solid #f0f0f0; }

.module__study-title {
  color: #4e4e4e;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1.2rem; }

.module__study-item button {
  color: #4e4e4e;
  font-size: 1.6rem;
  margin-bottom: 0.3rem; }
  .module__study-item button svg {
    vertical-align: middle;
    margin-right: 0.5rem;
    fill: #4257b2;
    transition: all 0.1s linear; }
  .module__study-item button span {
    display: inline-block;
    vertical-align: middle; }
  .module__study-item button:hover {
    color: #ffcd1f; }
    .module__study-item button:hover svg {
      fill: #ffcd1f; }

.module__info {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem; }

.module__author-created {
  color: #868686;
  display: block;
  font-size: 1.2rem; }

.module__author-nickname {
  color: #4e4e4e;
  display: block;
  font-size: 1.8rem;
  font-weight: bold; }

.module__nav {
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: auto; }

.module__nav-item {
  display: inline-block;
  margin-left: 1.5rem;
  padding: 0.8rem;
  border-radius: 5rem;
  box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.28);
  cursor: pointer; }
  .module__nav-item svg {
    vertical-align: middle;
    transition: all 0.1s linear; }
  .module__nav-item:hover svg {
    fill: rgba(255, 0, 0, 0.856); }

.module__edit {
  margin-right: 1rem; }

.module__param {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem; }
  @media (max-width: 620px) {
    .module__param {
      flex-direction: column; } }

.module__filter {
  width: 40%; }
  @media (max-width: 620px) {
    .module__filter {
      margin-top: 1.5rem;
      width: 100%; } }

.module__count {
  font-size: 2rem;
  font-weight: bold; }

.module__card {
  display: flex;
  background-color: #ffffff;
  padding: 2rem;
  min-height: 10rem;
  margin-bottom: 1.5rem; }
  @media (max-width: 620px) {
    .module__card {
      flex-direction: column; } }

.module__card-term {
  position: relative;
  width: 30%;
  text-align: center;
  padding: 2rem 1.5rem 0 1.5rem;
  border-right: 2px solid #f0f0f0;
  font-size: 1.7rem;
  overflow-wrap: break-word; }
  @media (max-width: 620px) {
    .module__card-term {
      width: 100%;
      text-align: left;
      border-right: none;
      border-bottom: 2px solid #f0f0f0;
      padding: 2rem 1rem 1.5rem 1rem; } }

.module__speaker,
.game__speaker-flashcards,
.game__speaker-write {
  cursor: pointer;
  display: flex;
  position: absolute;
  animation-duration: 1.5s;
  animation-iteration-count: infinite; }
  .module__speaker.relative,
  .game__speaker-flashcards.relative,
  .game__speaker-write.relative {
    position: initial; }
  .module__speaker svg,
  .game__speaker-flashcards svg,
  .game__speaker-write svg {
    transition: all 0.2s;
    fill: #2b2a2c; }
  .module__speaker:hover svg,
  .game__speaker-flashcards:hover svg,
  .game__speaker-write:hover svg {
    fill: #ffcd1f; }
  .module__speaker[data-active="false"],
  .game__speaker-flashcards[data-active="false"],
  .game__speaker-write[data-active="false"] {
    cursor: initial; }
    .module__speaker[data-active="false"] svg,
    .game__speaker-flashcards[data-active="false"] svg,
    .game__speaker-write[data-active="false"] svg {
      fill: #c7c7c7; }
    .module__speaker[data-active="false"]:hover svg,
    .game__speaker-flashcards[data-active="false"]:hover svg,
    .game__speaker-write[data-active="false"]:hover svg {
      fill: #c7c7c7; }
  .module__speaker[data-speaking="true"],
  .game__speaker-flashcards[data-speaking="true"],
  .game__speaker-write[data-speaking="true"] {
    animation-name: example; }
    .module__speaker[data-speaking="true"] svg,
    .game__speaker-flashcards[data-speaking="true"] svg,
    .game__speaker-write[data-speaking="true"] svg {
      fill: #ffcd1f; }

.module__speaker {
  right: 10px;
  top: 0; }

.game__speaker-flashcards {
  right: 20px;
  top: 20px; }

@keyframes example {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.module__card-definition-container {
  width: 70%;
  display: flex; }
  @media (max-width: 991px) {
    .module__card-definition-container {
      flex-direction: column; } }
  @media (max-width: 620px) {
    .module__card-definition-container {
      width: 100%;
      padding-top: 1.5rem; } }

.module__card-definition {
  padding: 2rem 1.5rem 0 1.5rem;
  position: relative;
  padding-top: 2rem;
  font-size: 1.7rem;
  overflow-wrap: break-word;
  text-align: left;
  flex: 1; }
  @media (max-width: 991px) {
    .module__card-definition {
      padding: 2rem 1rem 0 1rem;
      flex-direction: column; } }

.module__card-img-container {
  padding: 0 1.5rem;
  align-self: center;
  width: 20%;
  min-width: 12rem;
  margin-left: 1rem; }
  .module__card-img-container--inactive {
    display: none; }
  @media (max-width: 991px) {
    .module__card-img-container {
      padding: 0 1rem;
      margin-left: 0;
      margin-top: 1rem;
      width: 100%; } }

.module__card-img {
  margin: 0 auto;
  width: 12rem;
  height: 10rem;
  border-radius: 5px;
  background-size: cover;
  background-position: center; }
  @media (max-width: 991px) {
    .module__card-img {
      margin: 0;
      margin-right: auto; } }

.edit__intro {
  padding: 2rem 0; }

.edit__intro-content {
  display: flex;
  font-size: 2rem; }

.edit__intro-info {
  width: 60%;
  color: #4e4e4e; }
  @media (max-width: 991px) {
    .edit__intro-info {
      font-size: 1.7rem; } }

.edit__intro-return {
  width: 40%;
  text-align: right; }

.edit__module {
  padding: 3rem 0; }

.edit__module-content {
  display: flex;
  text-align: left;
  font-size: 2rem;
  padding: 0 2rem; }
  @media (max-width: 620px) {
    .edit__module-content {
      display: block; } }

.edit__module-title {
  width: 50%; }
  @media (max-width: 620px) {
    .edit__module-title {
      width: 100%; } }

.edit__cards {
  padding: 2rem 0;
  background-color: #f0f0f0; }

.edit__cards-container {
  padding-bottom: 2rem; }

.edit__cards-card {
  background-color: #ffffff;
  margin-top: 2rem; }
  .edit__cards-card:first-child {
    margin-top: 0; }

.edit__cards-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f0f0f0; }

.edit__cards-number {
  padding: 1rem 2rem;
  font-size: 1.7rem; }

.edit__cards-delete {
  cursor: pointer;
  text-align: right;
  padding: 1rem 2rem;
  font-size: 1.7rem; }
  .edit__cards-delete:hover svg {
    fill: rgba(255, 0, 0, 0.856); }
  .edit__cards-delete-inactive svg {
    fill: rgba(143, 143, 143, 0.856); }
  .edit__cards-delete-inactive:hover svg {
    fill: rgba(143, 143, 143, 0.856); }

.edit__cards-items {
  display: flex;
  align-items: center; }
  @media (max-width: 620px) {
    .edit__cards-items {
      flex-direction: column; } }

.edit__cards-term {
  width: 50%;
  padding: 2rem;
  text-align: center; }
  @media (max-width: 620px) {
    .edit__cards-term {
      width: 100%; } }

.edit__cards-definition {
  width: 50%;
  padding: 2rem;
  display: flex;
  text-align: center; }
  @media (max-width: 620px) {
    .edit__cards-definition {
      width: 100%; } }

.edit__cards-definition-input {
  width: 80%; }

.edit__addimg {
  cursor: pointer;
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin-left: 1rem;
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 5px;
  padding: 2rem;
  transition: all 0.2s; }
  .edit__addimg .edit__img-delete {
    visibility: inherit; }
  .edit__addimg .edit__img-logo,
  .edit__addimg span {
    visibility: hidden; }
  .edit__addimg[data-imgurl~="false"] {
    border: #c7c7c7 dashed 2px;
    padding: 1rem 0; }
    .edit__addimg[data-imgurl~="false"] .edit__img-delete {
      visibility: hidden; }
    .edit__addimg[data-imgurl~="false"] .edit__img-logo,
    .edit__addimg[data-imgurl~="false"] span {
      visibility: inherit; }
  .edit__addimg span {
    font-size: 1rem; }
  .edit__addimg:hover .edit__img-logo svg {
    fill: #ffcd1f; }

.edit__img-delete {
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #4e4e4e;
  border-radius: 5px;
  padding: 0.5rem; }
  .edit__img-delete svg {
    fill: #ffffff;
    height: 15px;
    width: 15px; }
  .edit__img-delete:hover {
    background-color: #ffcd1f; }
    .edit__img-delete:hover svg {
      fill: #4e4e4e; }

.edit__img-logo svg {
  height: 18px;
  width: 18px;
  fill: #4e4e4e;
  transition: all 0.2s; }

.edit__img-search-container {
  border-top: 2px solid #f0f0f0;
  overflow: hidden;
  height: 0;
  transition: all 0.3s;
  display: block;
  visibility: hidden; }
  .edit__img-search-container--active {
    height: 25.5rem;
    visibility: inherit; }
    .edit__img-search-container--active .edit__img-search {
      transform: translateY(0); }

.edit__img-search {
  display: block;
  padding: 2rem;
  transition: all 0.3s;
  transform: translateY(-100%);
  transform-origin: top; }

.edit__searchbar-form {
  min-width: 40rem;
  width: 45%; }
  @media (max-width: 620px) {
    .edit__searchbar-form {
      min-width: 100%;
      width: 100%; } }

.edit__searchbar-input-label {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.2s;
  border-bottom: 2px solid #2b2a2c; }
  .edit__searchbar-input-label:focus-within::after {
    bottom: -4px;
    height: 4px;
    background-color: #ffcd1f; }
  .edit__searchbar-input-label::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    display: inline-block;
    background-color: #2b2a2c;
    height: 2px;
    width: 100%;
    transition: all 0.2s; }

.edit__searchbar-input {
  font-family: inherit;
  font-size: 1.7rem;
  text-align: left;
  line-height: 2.6rem;
  overflow-wrap: break-word; }
  .edit__searchbar-input::placeholder {
    color: #c7c7c7; }
  .edit__searchbar-input:not(:placeholder-shown) ~ .edit__searchbar-icon svg {
    fill: #3ccfcf; }

.edit__searchbar-icon {
  cursor: pointer; }
  .edit__searchbar-icon svg {
    width: 15px;
    height: 15px; }

.edit__search-results {
  margin-top: 2rem;
  position: relative; }

.edit__gallery-container {
  display: flex;
  justify-content: center;
  height: 15rem;
  transition: all 0.2s;
  transition-delay: 0.2s;
  z-index: 20; }
  .edit__gallery-container--hide {
    visibility: hidden;
    opacity: 0;
    transition-delay: 0; }

.edit__error-container,
.edit__spinner-container {
  position: absolute;
  opacity: 1;
  height: 100%;
  width: 100%;
  transition: all 0.2s;
  transition-delay: 0.2s;
  z-index: 10; }
  .edit__error-container--hide,
  .edit__spinner-container--hide {
    visibility: hidden;
    opacity: 0;
    transition-delay: 0; }

.edit__error-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.edit__gallery-control--left {
  margin-right: 1rem; }

.edit__gallery-control--right {
  margin-left: 1rem; }

.edit__gallery-control--left, .edit__gallery-control--right {
  position: relative;
  align-self: center; }
  .edit__gallery-control--left button, .edit__gallery-control--right button {
    width: 4rem;
    height: 4rem;
    background-color: #3ccfcf; }
    .edit__gallery-control--left button svg, .edit__gallery-control--right button svg {
      top: 50%;
      left: 50%;
      position: absolute;
      height: 2rem;
      width: 2rem;
      fill: #ffffff;
      transition: all 0.2s; }
  .edit__gallery-control--left[data-active="false"] button, .edit__gallery-control--right[data-active="false"] button {
    cursor: auto;
    background-color: #c7c7c7; }
    .edit__gallery-control--left[data-active="false"] button svg, .edit__gallery-control--right[data-active="false"] button svg {
      fill: #f0f0f0; }
    .edit__gallery-control--left[data-active="false"] button:hover svg, .edit__gallery-control--right[data-active="false"] button:hover svg {
      fill: #f0f0f0; }
  .edit__gallery-control--left button:hover svg, .edit__gallery-control--right button:hover svg {
    fill: #2b2a2c; }

.edit__gallery-control--left button svg {
  transform: translate(-12px, -10px); }

.edit__gallery-control--right button svg {
  transform: translate(-7.5px, -10px); }

.edit__gallery-window {
  width: 68rem;
  overflow: hidden; }
  @media screen and (max-width: 62.5em) {
    .edit__gallery-window {
      width: 51rem;
      min-width: 51rem; } }
  @media screen and (max-width: 50em) {
    .edit__gallery-window {
      width: 34rem;
      min-width: 34rem; } }
  @media screen and (max-width: 37.5em) {
    .edit__gallery-window {
      width: 17rem;
      min-width: 17rem; } }

.edit__gallery {
  display: flex;
  width: 0;
  height: 100%;
  padding: 0 1rem;
  transition: all 0.3s;
  transform: translateX(0); }

.edit__gallery-item {
  width: 15rem;
  height: 15rem;
  cursor: pointer;
  transition: all 0.3s; }
  .edit__gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .edit__gallery-item:not(:last-child) {
    margin-right: 2rem; }
  .edit__gallery-item:hover {
    border: 5px solid #ffcd1f; }

.edit__cards-label {
  display: block;
  width: 100%;
  text-align: left;
  color: #4e4e4e;
  font-size: 1.5rem; }

.edit__cards-newcard {
  padding: 3rem 2rem;
  background-color: #ffffff;
  text-align: center; }

.edit__save {
  background-color: #f0f0f0;
  padding-bottom: 2rem; }

.edit__save-module {
  text-align: right; }
  @media (max-width: 620px) {
    .edit__save-module {
      text-align: center; } }

.spinner {
  top: 50%;
  left: 50%;
  margin: -62.5px 0 0 -62.5px;
  display: inline-block;
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid #ff5722;
  animation: spin 2s linear infinite;
  z-index: 1000; }
  .spinner--small {
    width: 75px;
    height: 75px;
    margin: -37.5px 0 0 -37.5px; }

.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 4px solid transparent; }

.spinner::before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #ff9800;
  animation: spin 3.5s linear infinite; }

.spinner::after {
  top: 14px;
  left: 14px;
  right: 14px;
  bottom: 14px;
  border-top-color: #ffc107;
  animation: spin 1.75s linear infinite; }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.spinner__container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 40; }

.spinner__background {
  position: absolute;
  z-index: 30;
  height: 100%;
  width: 100%; }
  @supports (-webkit-bkacdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .spinner__background {
      -webkit-bkacdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background-color: rgba(43, 42, 44, 0.1); } }

.flashcards,
.write {
  height: calc(100vh - 8.5rem);
  max-height: 100%;
  background-color: #f0f0f0; }
  @media (max-width: 991px) {
    .flashcards,
    .write {
      top: 4.5rem;
      height: calc(100vh - 4.5rem); } }

.flashcards .container,
.write .container {
  padding: 0;
  height: 100%;
  position: relative; }

.game__main {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  @media (max-width: 991px) {
    .game__main {
      flex-direction: column; } }

.game__controls-container {
  display: block;
  bottom: 0;
  position: fixed;
  top: 8.5rem;
  width: 19.5rem;
  box-shadow: 0.3125rem 0 1.25rem 0 rgba(0, 0, 0, 0.28);
  z-index: 10;
  background-color: #ffffff; }
  @media (max-width: 991px) {
    .game__controls-container {
      position: static;
      width: 100%; } }

.game__controls {
  position: relative;
  height: 100%;
  width: 100%; }

.game__back {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 3rem; }
  @media (max-width: 991px) {
    .game__back {
      display: none; } }
  .game__back button svg {
    fill: #3ccfcf;
    margin-right: 0.5rem;
    transition: all 0.1s linear; }
  .game__back button:hover svg {
    fill: #4e4e4e; }

.game__title {
  text-align: center;
  margin-bottom: 3rem; }
  @media (max-width: 991px) {
    .game__title {
      display: none; } }
  .game__title svg {
    vertical-align: middle;
    margin-right: 0.5rem;
    fill: #4257b2; }
  .game__title span {
    vertical-align: middle;
    font-size: 2.4rem;
    color: #4257b2;
    font-weight: bold; }

.game__progress {
  padding: 1rem; }
  @media (max-width: 991px) {
    .game__progress {
      display: flex;
      align-items: center;
      padding: 0.7rem 1rem; } }

.game__progress-item {
  flex: 1; }
  .game__progress-item:not(:last-child) {
    margin-bottom: 1rem; }
  @media (max-width: 991px) {
    .game__progress-item:not(:last-child) {
      margin: 0;
      margin-right: 1.5rem; } }

.game__progress-bar {
  margin: auto;
  height: 1.5rem;
  background-color: #c6cce8;
  position: relative;
  margin-bottom: 0.5rem; }
  .game__progress-bar.red {
    background-color: #ffd4cd; }
  .game__progress-bar.green {
    background-color: #bde8d3; }
  @media (max-width: 991px) {
    .game__progress-bar {
      display: inline-block;
      width: 90%;
      margin: 0;
      height: 1.2rem; } }
  @media (max-width: 991px) {
    .game__progress-bar.full {
      width: 100%; } }

.game__bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #4257b2;
  transition: all 0.2s; }
  .game__bar-fill.red {
    background-color: #ff725b; }
  .game__bar-fill.green {
    background-color: #23b26d; }

.game__progress-info {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 991px) {
    .game__progress-info {
      width: 10%; } }

.game__progress-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #4e4e4e; }
  @media (max-width: 991px) {
    .game__progress-title {
      display: none; } }
  @media (max-width: 991px) {
    .game__progress-title.show {
      display: block;
      margin-right: 1.5rem; } }
  @media (max-width: 620px) {
    .game__progress-title.show {
      font-size: 1.2rem; } }

.game__progress-count {
  font-size: 1.4rem;
  color: #4e4e4e; }
  @media (max-width: 991px) {
    .game__progress-count {
      margin-left: auto; } }
  @media (max-width: 620px) {
    .game__progress-count {
      font-size: 1.2rem; } }

.game__control-buttons {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  right: 1.25rem; }
  @media (max-width: 991px) {
    .game__control-buttons {
      display: none; } }

.game__method {
  margin-bottom: 2rem; }
  .game__method button svg {
    fill: #3ccfcf;
    vertical-align: middle;
    transition: all 0.1s linear;
    margin-right: 2rem; }
  .game__method button span {
    vertical-align: middle; }
  .game__method button:hover svg {
    fill: #ffcd1f; }

.game__method-tilte {
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: #4e4e4e; }

.game__method-menu-container,
.game__method-menu-container-modal {
  position: relative; }

.game__method-menu {
  text-transform: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #4257b2; }

.game__method-menu-item {
  vertical-align: middle;
  text-align: center; }
  .game__method-menu-item:hover {
    color: #ffffff;
    background-color: #4257b2; }

.game__shuffle button svg,
.game__shuffle-modal button svg {
  fill: #3ccfcf;
  vertical-align: middle;
  transition: all 0.1s linear;
  margin-right: 2rem; }

.game__shuffle button span,
.game__shuffle-modal button span {
  vertical-align: middle; }

.game__shuffle button:hover svg,
.game__shuffle-modal button:hover svg {
  fill: #ffcd1f; }

.game__shuffle.active button,
.game__shuffle-modal.active button {
  background-color: #ffcd1f;
  color: #4e4e4e; }
  .game__shuffle.active button svg,
  .game__shuffle-modal.active button svg {
    fill: #4e4e4e; }
  .game__shuffle.active button:hover svg,
  .game__shuffle-modal.active button:hover svg {
    fill: #4e4e4e; }

.game__content-container {
  flex: 1;
  margin-left: 19.5rem;
  padding: 2.5rem;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto; }
  @media (max-width: 991px) {
    .game__content-container {
      margin: 0; } }

.game__content {
  padding: 2.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  @media (max-width: 991px) {
    .game__content {
      padding: 1.2rem; } }

.game__components {
  margin: 0 auto;
  width: auto;
  height: 100%;
  max-width: 67.5rem; }

.game__question,
.game__answer,
.game__round,
.game__finish {
  background-color: #ffffff;
  padding: 2.5rem 4rem;
  margin-bottom: 1rem; }
  @media (max-width: 620px) {
    .game__question,
    .game__answer,
    .game__round,
    .game__finish {
      padding: 1.5rem 3rem; } }

.game__question-dontknow {
  margin-bottom: 2rem;
  text-align: right;
  color: #3ccfcf;
  transition: all 0.2s; }
  .game__question-dontknow span {
    cursor: pointer; }
  .game__question-dontknow:hover {
    color: #ffcd1f; }

.game__question-img {
  height: 30rem;
  width: 32rem;
  margin-bottom: 2rem;
  background-position: center;
  background-size: cover;
  background-image: url(https://resize.hswstatic.com/w_907/gif/seal-point.jpg); }
  @media (max-width: 620px) {
    .game__question-img {
      height: 23rem;
      width: 24rem; } }
  @media (max-width: 350px) {
    .game__question-img {
      width: 100%; } }

.game__question-defenition {
  display: flex;
  font-size: 2rem; }
  .game__question-defenition p {
    flex: 1; }
  @media (max-width: 620px) {
    .game__question-defenition {
      font-size: 1.5rem; } }

.game__form {
  display: flex;
  margin-top: 1.5rem;
  border-top: 0.2rem solid #f4f4f4;
  padding-top: 1.5rem; }
  @media (max-width: 620px) {
    .game__form {
      flex-direction: column; } }

.game__form-fieldset {
  border: none;
  flex: 1; }
  .game__form-fieldset label {
    text-transform: uppercase;
    color: #97a5aa;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    transition: all 0.2s; }

.game__form-input {
  padding: 0.2rem 1rem;
  position: relative;
  transition: all 0.2s;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #2b2a2c; }
  .game__form-input input {
    font-size: 1.5rem; }
  .game__form-input:focus-within:after {
    bottom: -4px;
    height: 4px;
    background-color: #ffcd1f; }
  .game__form-input:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    display: inline-block;
    background-color: #2b2a2c;
    height: 2px;
    width: 100%;
    transition: all 0.2s; }
  .game__form-input[data-correct="true"] {
    border-color: #23b26d; }
    .game__form-input[data-correct="true"] + label {
      color: #23b26d; }
    .game__form-input[data-correct="true"]:focus-within:after {
      background-color: #23b26d; }
    .game__form-input[data-correct="true"]:after {
      background-color: #23b26d; }

.game__form-btn-container {
  margin-left: 2rem; }
  @media (max-width: 620px) {
    .game__form-btn-container {
      margin-left: 0;
      margin-top: 2rem; } }

.game__answer-type {
  line-height: 1;
  margin-bottom: 2.5rem; }
  .game__answer-type.correct {
    color: #23b26d; }
  .game__answer-type.incorrect {
    color: #ff725b; }

.game__answer-section:not(:first-child) {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 0.2rem solid #f4f4f4; }

.game__section-title {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #97a5aa; }

.game__section-img {
  height: 30rem;
  width: 32rem;
  background-image: url(https://farm8.staticflickr.com/7056/6869762317_78487198aa.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem; }
  @media (max-width: 620px) {
    .game__section-img {
      height: 23rem;
      width: 24rem; } }
  @media (max-width: 350px) {
    .game__section-img {
      width: 100%; } }

.game__section-body {
  display: flex; }
  @media (max-width: 620px) {
    .game__section-body {
      flex-direction: column; } }

.game__override {
  margin-left: 1rem;
  text-align: right; }
  @media (max-width: 620px) {
    .game__override {
      margin-top: 1rem; } }

.game__section-text {
  flex: 1; }

.game__speaker-write {
  align-self: flex-end;
  margin-left: 1rem; }
  @media (max-width: 620px) {
    .game__speaker-write {
      margin-top: 1rem;
      flex-direction: column; } }

.game__answer-continue {
  margin-top: 3rem;
  text-align: center; }
  .game__answer-continue[data-correct="false"] button {
    background-color: #97a5aa; }
    .game__answer-continue[data-correct="false"] button:hover {
      background-color: #97a5aa;
      color: #ffffff; }

.game__round-title {
  margin-bottom: 2.5rem;
  color: #4e4e4e; }

.game__round-body {
  margin-bottom: 3rem; }

.game__score-field {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  color: #4e4e4e; }
  .game__score-field--correct {
    color: #23b26d; }
  .game__score-field--incorrect {
    color: #ff725b; }
  .game__score-field:not(:last-child) {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 0.2rem solid #f4f4f4; }

.game__score-title {
  flex: 1; }

.game__score-number {
  display: inline-block;
  margin-left: 2.5rem; }

.game__score-percent {
  display: inline-block;
  margin-left: 2.5rem; }

.game__round-continue {
  text-align: center; }

.game__finish-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem; }
  @media (max-width: 350px) {
    .game__finish-header {
      flex-direction: column;
      align-items: flex-start; } }

@media (max-width: 350px) {
  .game__finish-header-item:not(:last-child) {
    margin-bottom: 1.5rem; } }

.game__finish-title {
  line-height: 1;
  margin-bottom: 0.6rem; }

.game__finish-round-stats {
  line-height: 1;
  color: #97a5aa; }

.game__finish-body-item {
  display: flex; }
  .game__finish-body-item:not(:first-child) {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 0.2rem solid #f4f4f4; }
  @media (max-width: 620px) {
    .game__finish-body-item {
      flex-direction: column; } }

.game__finish-body-left,
.game__finish-body-right {
  flex: 1; }

.game__finish-body-left {
  align-self: start;
  display: flex;
  align-items: flex-start; }
  @media (max-width: 620px) {
    .game__finish-body-left {
      margin-bottom: 1.5rem; } }

.game__finish-icon {
  display: flex;
  margin-right: 1rem; }
  .game__finish-icon--correct svg {
    fill: #23b26d; }
  .game__finish-icon--incorrect svg {
    fill: #ff725b; }

.game__finish-term {
  line-height: 1;
  display: inline-block; }
  .game__finish-term--correct {
    color: #23b26d; }
  .game__finish-term--incorrect {
    color: #ff725b; }

.game__finish-img {
  height: 7.5rem;
  width: 10rem;
  margin-top: 1rem;
  background-size: cover;
  background-position: center; }

.game__cards-container {
  width: 100%;
  height: 85%;
  perspective: 1000px;
  position: relative; }
  @media (max-width: 991px) {
    .game__cards-container {
      height: 100%; } }

.game__card {
  transition: transform 0.3s ease, opacity 0.12s linear;
  opacity: 1;
  text-align: center; }

.game__card-front,
.game__card-back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 1.25rem -0.1rem rgba(0, 0, 0, 0.28);
  transform-style: preserve-3d;
  transition: transform 0.3s ease, opacity 0.12s linear;
  backface-visibility: hidden;
  z-index: 19;
  transform: rotateX(0deg); }
  .game__card-front.transparent,
  .game__card-back.transparent {
    opacity: 0;
    z-index: -10; }
  .game__card-front.prev,
  .game__card-back.prev {
    transform: translateX(-16%) rotateY(16deg) translateZ(0); }
  .game__card-front.next,
  .game__card-back.next {
    transform: translateX(16%) rotateY(-16deg) translateZ(0); }
  .game__card-front.unturnable,
  .game__card-back.unturnable {
    background-color: transparent;
    box-shadow: none; }

.game__card-front {
  display: flex; }
  .game__card-front.rearside {
    transform: rotateX(180deg);
    z-index: -10; }
  .game__card-front.unturnable {
    display: block; }
    .game__card-front.unturnable.rearside {
      transform: none;
      z-index: 0; }

.game__card-back.rearside {
  transform: rotateX(-180deg);
  z-index: -10; }

.game__card-back.unturnable.rearside {
  transform: none;
  z-index: 0; }

.game__img-container {
  margin: 0 auto;
  position: relative;
  height: 100%;
  width: 55%; }
  .game__img-container.full {
    width: 100%;
    margin: 0 3rem; }
  @media (max-height: 840px) {
    .game__img-container {
      width: 50%; } }
  @media (max-height: 620px) {
    .game__img-container {
      width: 45%; } }
  @media (max-height: 350px) {
    .game__img-container {
      width: 40%; } }

.game__img {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  bottom: 1.5rem;
  right: 0.75rem;
  margin: auto 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.game__defenition-container {
  text-align: center;
  position: relative;
  height: 100%;
  width: 45%; }
  .game__defenition-container.full {
    width: 100%;
    padding: 0 3rem; }
    .game__defenition-container.full .game__defenition {
      right: 3rem;
      left: 3rem; }
  @media (max-height: 840px) {
    .game__defenition-container {
      width: 50%; } }
  @media (max-height: 620px) {
    .game__defenition-container {
      width: 55%; } }
  @media (max-height: 350px) {
    .game__defenition-container {
      width: 60%; } }

.game__defenition {
  position: absolute;
  top: 6rem;
  right: 1.5rem;
  bottom: 6rem;
  left: 0.75rem;
  overflow: auto;
  font-size: 1.9rem;
  display: grid;
  color: #4e4e4e; }
  .game__defenition p {
    margin: auto;
    text-align: left; }
  @media (max-width: 991px) {
    .game__defenition {
      font-size: 1.8rem; } }
  @media (max-width: 620px) {
    .game__defenition {
      font-size: 1.7rem; } }
  @media (max-width: 350px) {
    .game__defenition {
      font-size: 1.6rem; } }

.game__term-container {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 3rem;
  color: #4e4e4e; }
  @media (max-width: 991px) {
    .game__term-container {
      font-size: 2.8rem; } }
  @media (max-width: 620px) {
    .game__term-container {
      font-size: 2.6rem; } }
  @media (max-width: 350px) {
    .game__term-container {
      font-size: 2.4rem; } }

.game__term {
  overflow: scroll;
  position: absolute;
  top: 6rem;
  right: 1.5rem;
  bottom: 6rem;
  left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.game__card-message {
  font-size: 4.5rem;
  color: #4e4e4e; }

.game__card-message-info {
  font-size: 1.7rem;
  color: #4e4e4e; }

.game__nav {
  display: flex;
  width: 100%;
  height: 15%;
  pointer-events: none; }
  @media (max-width: 991px) {
    .game__nav {
      position: fixed;
      left: 0;
      bottom: 0;
      min-height: 8rem;
      height: 10%; } }

.game__nav-item {
  width: 50%;
  padding: 0 5rem;
  margin: auto;
  z-index: 10; }
  .game__nav-item button {
    pointer-events: auto;
    z-index: 20;
    width: 5rem;
    height: 5rem;
    box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.28); }
    @media (max-width: 991px) {
      .game__nav-item button {
        height: 4rem;
        width: 4rem; } }
    .game__nav-item button svg {
      transition: all 0.1s linear;
      fill: #3ccfcf;
      position: absolute;
      height: 2.5rem;
      width: 2.5rem; }
      @media (max-width: 991px) {
        .game__nav-item button svg {
          height: 2rem;
          width: 2rem; } }
    .game__nav-item button:hover svg {
      fill: #4e4e4e; }
  .game__nav-item.prev button {
    margin-left: auto; }
    @media (max-width: 991px) {
      .game__nav-item.prev button {
        margin: 0 auto 0 0; } }
    @media (max-width: 620px) {
      .game__nav-item.prev button {
        margin: 0 0 0 auto; } }
    .game__nav-item.prev button svg {
      top: 50%;
      left: 50%;
      transform: translate(-15px, -12.5px); }
      @media (max-width: 991px) {
        .game__nav-item.prev button svg {
          transform: translate(-12px, -10px); } }
  @media (max-width: 991px) {
    .game__nav-item.next button {
      margin: 0 0 0 auto; } }
  @media (max-width: 620px) {
    .game__nav-item.next button {
      margin: 0; } }
  .game__nav-item.next button svg {
    top: 50%;
    left: 50%;
    transform: translate(-9.5px, -12.5px); }
    @media (max-width: 991px) {
      .game__nav-item.next button svg {
        transform: translate(-8px, -10px); } }

.hidden {
  display: none; }
  @media (max-width: 991px) {
    .hidden__media-tablet {
      display: none; } }

.ai-c {
  align-items: center; }

.d-f {
  display: flex; }

.p-r {
  position: relative; }

.ta-l {
  text-align: left; }

.pad5 {
  padding: 0.5rem; }

.pad7 {
  padding: 0.7rem; }

.pad10 {
  padding: 1rem; }

.pad15 {
  padding: 1.5rem; }

.pad30 {
  padding: 3rem; }

.pad-bot10 {
  padding-bottom: 1rem; }

.pad12-30 {
  padding: 1.25rem 3rem; }

.pad15-20 {
  padding: 1.5rem 2rem; }

.pad10-30 {
  padding: 1rem 3rem; }
  @media (max-width: 620px) {
    .pad10-30 {
      padding: 1rem 2rem; } }

.pad15-30 {
  padding: 1.5rem 3rem; }
  @media (max-width: 620px) {
    .pad15-30 {
      padding: 1rem 2rem; } }

.pad20-15 {
  padding: 2rem 1.5rem; }

.pad30-50 {
  padding: 3rem 5rem; }
  @media (max-width: 620px) {
    .pad30-50 {
      padding: 2.5rem 4rem; } }

.pad30-70 {
  padding: 3rem 7rem; }

.mar-bottom20 {
  margin-bottom: 2rem; }

.br2 {
  border: 2px solid #ffffff; }

.br-bottom2 {
  border-bottom: 2px solid #ffffff; }

.br-bottom5 {
  border-bottom: 5px solid #ffffff; }

.brr5 {
  border-radius: 0.5rem; }

.brr10 {
  border-radius: 1rem; }

.brr50p {
  border-radius: 50%; }

.brc-lightblue {
  border-color: #3ccfcf; }

.brc-grey {
  border-color: #4e4e4e; }

.brc-grey-medium {
  border-color: #c7c7c7; }

.f-brc-yellow:focus {
  border-color: #ffcd1f; }

.h-brc-yellow:hover {
  border-color: #ffcd1f; }

.h-brc-red:hover {
  border-color: #ff725b; }

.bc-none {
  background: none; }

.bcc-white {
  background-color: #ffffff; }

.bcc-mudblue {
  background-color: #455358; }

.bcc-coral {
  background-color: #fe725b; }

.bcc-yellow {
  background-color: #ffcd1f; }

.bcc-lightblue {
  background-color: #3ccfcf; }

.bcc-whiteblue {
  background-color: #e8f0fd; }

.h-bcc-yellow:hover {
  background-color: #ffcd1f; }

.grey {
  color: #4e4e4e; }

.white {
  color: #ffffff; }

.black {
  color: #2b2a2c; }

.lightblue {
  color: #3ccfcf; }

.h-yellow:hover {
  color: #ffcd1f; }

.h-red:hover {
  color: #ff725b; }

.h-grey:hover {
  color: #4e4e4e; }

.h-thinblue:hover {
  color: #89abeb; }

.uppercase {
  text-transform: uppercase; }

.fz15 {
  font-size: 1.5rem; }

.fz17 {
  font-size: 1.7rem; }

.fz175 {
  font-size: 1.75rem; }
  @media (max-width: 620px) {
    .fz175 {
      font-size: 1.5rem; } }

.fz20 {
  font-size: 2rem; }

.fw-normal {
  font-weight: normal; }

.fw-bold {
  font-weight: bold; }

.width50 {
  width: 50%; }

.width100 {
  width: 100%; }

.height100 {
  height: 100%; }

.height4r {
  height: 4rem; }

.inline-block {
  display: inline-block; }

.inactive {
  cursor: auto;
  background-color: #da2626; }
  .inactive:hover {
    color: #ffffff;
    background-color: #da2626; }

.h-opacity09:hover {
  opacity: 0.8; }

.border-green {
  border: 2px solid #23c823; }
  .border-green:focus {
    border: 2px solid #23c823; }

.overflow-hid {
  overflow: hidden; }
