@import "vars";

// $notebook
// max-height: $h-mobile-sm: 350px; //565px
// $h-mobile: 620px; //767px
// $h-tablet: 840px;
// green

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: "Alata", sans-serif;
}

body {
  margin: 0;
  font-size: 1.5rem;
  color: black;
}

main {
  position: relative;
  // display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  display: block;
  width: 100%;
  height: 3rem;
  border: none;
  font-family: inherit;
  background-color: none;

  &:focus {
    outline: none;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;

  @media (max-width: $tablet) {
    padding: 0.75rem;
  }
}

// =========== Dev panel

.devpanel {
  position: fixed;
  width: 300px;
  box-shadow: 0 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.28);
  top: 100px;
  right: 100px;
  z-index: 10000;

  &__header {
    background-color: #4257b2;
    padding: 1rem;
  }

  &__body {
    min-height: 30px;
    background-color: $white;
    padding: 1rem;
  }
}

// =========== Header

.header {
  padding: 0;
  background-color: $blue;
  position: relative;
  transition: all 0.1 linear;
  z-index: 40;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-size: 2rem;
  color: #ffffff;

  @media (max-width: $mobile) {
    font-size: 1.5rem;
  }

  @media (max-width: $mobile-sm) {
    font-size: 1.25rem;
  }
}

.header__buttons-start,
.header__buttons-regular {
  display: flex;
  align-items: center;
}

.header__btn-holder {
  padding-left: 2rem;
  margin: auto;
  transition: all 0.2s;
}

.header__btn-holder.regular {
  @media (max-width: $mobile) {
    display: none;
  }

  & button svg {
    transition: all 0.2s;
  }

  & button:hover {
    color: rgb(137, 171, 235);

    & svg {
      fill: rgb(137, 171, 235);
    }
  }
}

.header__button-game-back,
.header__button-game-options {
  display: none;

  @media (max-width: $tablet) {
    display: block;
  }
}

.header__button-game-back {
  button svg {
    margin: 0.25rem;
  }
}

.header__btn-menu {
  display: none;

  @media (max-width: $mobile) {
    display: inline-block;
  }
}

.header__menu {
  position: absolute;
  display: none;
  flex-direction: column;
  bottom: 0;
  right: 0;
  background-color: $white;
  z-index: 1;
  transform: translateY(100%);
  box-shadow: 0 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.28);

  @media (max-width: $mobile) {
    display: flex;
  }
}

.header__menu-item {
  cursor: pointer;
  display: block;
  padding: 0.75rem;
  text-align: center;
  color: $grey;
  transition: all 0.1s linear;
  font-weight: bold;
  border-bottom: 1px solid $grey-light;
  z-index: 2;
  min-width: 17rem;

  &:hover {
    background-color: $yellow;
  }

  &:first-child {
    position: relative;
  }
}

.header__triangle {
  position: absolute;
  top: 1px;
  right: 1rem;
  height: 1rem;
  width: 2rem;
  background-color: $white;
  transform: translateY(-100%);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  z-index: 10;
}

// =========== Start

.start__content {
  display: flex;
  height: 50rem;
}

.start__intro {
  // width: 50%;
  margin: auto;
  text-align: center;
}

.start__welcome {
  font-size: 2rem;
  margin-bottom: 2rem;

  @media (max-width: $mobile) {
    font-size: 1.5rem;
  }
}

// .start__img {
//     width: 50%;
// }

// =========== Textareas

.textarea {
  display: block;
  resize: none;

  width: 100%;
  max-width: 100%;

  font-family: inherit;
  font-size: 1.7rem;
  text-align: left;
  overflow-wrap: break-word;

  border: none;
  border-bottom: 2px solid $grey;

  padding: 0.5rem 0;

  &:focus {
    outline: none;
    border-bottom: 2px solid $yellow;
  }

  &--module {
    padding: 1rem 0;
  }

  &.error {
    border-color: red;
  }
}

// =========== Labels

.label {
  display: block;
  width: 100%;
  text-align: left;
  color: $grey;
  font-size: 1.5rem;
  text-transform: uppercase;
  &.error {
    color: red;
  }
}

// =========== BTN

.btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.1s linear;

  &:focus {
    outline: none;
  }
}

// =========== Modal

.modal {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba($black, 0.8);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal__dialog {
  width: 100%;
  max-width: 600px;
  margin: auto;
  position: relative;

  background-color: #ffffff;

  z-index: 2000;

  transition: all 0.3s ease-out;

  @media (max-width: $mobile) {
    max-width: none;
    height: 100%;
  }

  opacity: 0%;
  transform: translateY(-30vh);

  &.activated {
    opacity: 100%;
    transform: translateY(0vh);
  }
}

.modal__header {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: $blue;

  @media (max-width: $mobile) {
    padding: 1.5rem;
  }
}

.modal__title {
  color: $white;
  font-size: 2.5rem;
}

.modal__close {
  cursor: pointer;
  display: flex;
  justify-content: center;

  padding: 1.25rem;
  border: 3px solid $darkblue;
  border-radius: 25px;

  transition: all 0.1s linear;

  svg {
    transform: translate(1px, 1px);
  }

  &:hover {
    background-color: $darkblue;
  }
}

.modal__content {
  padding: 2.5rem;
  @media (max-width: $mobile) {
    padding: 1.5rem;
  }
}

.modal__label {
  margin-bottom: 1.5rem;
}

.modal__log-in,
.modal__sign-up {
  text-align: center;
  position: relative;

  &[data-checking="true"] {
    & button {
      background-color: $yellow;
      cursor: auto;

      & span {
        visibility: hidden;
      }
    }

    & .modal__loading-spinner {
      display: block;
    }
  }
}

.modal__loading-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(180deg);
  transform-origin: center;
  margin: -1.5rem 0 0 -1.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 4px solid $white;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  animation: spin 1.25s linear infinite;
}

.modal__options {
  text-align: center;
  padding: 1rem;

  p {
    margin: 0;
  }
}

.modal__error-list {
  color: red;
  padding: 1rem 4rem;
  border: 2px solid red;
  border-radius: 2rem;
  margin: 1rem 0rem;
}

// .modal__keep-log-in {
// }

.modal__choice {
  display: flex;
}

.modal__choice-item {
  width: 50%;
  padding: 0.5rem;
}

// =========== Home

.home {
  background-color: $grey-light;
}

.home__content {
  position: relative;
  min-height: 100vh;
}

.home__nickname {
  font-size: 2.5rem;

  @media (max-width: $mobile) {
    font-size: 2rem;
  }
}

// .home__navbar {
//     background-color: $white;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 200;
//     width: 25rem;
//     height: 100%;

//     box-shadow: 0 0.5rem 1.25rem 0 rgba(0,0,0,.28);
// }

.home__content-header {
  background-color: $white;
  margin: 2rem;
  padding: 2rem;

  @media (max-width: $mobile) {
    margin: 2rem 0;
  }
}

.home__filter-container {
  display: inline-block;
  margin-top: 1rem;
}

.home__filter {
  display: flex;
  border: 2px solid #cecece;
  border-radius: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.home__filter-item {
  cursor: pointer;

  padding: 0.75rem 2rem;
  border-left: 2px solid #cecece;
  color: $lightblue;
  transition: all 0.1s linear;

  @media (max-width: $mobile) {
    padding: 0.75rem 1.5rem;
  }

  &:first-child {
    border-left: none;
  }

  &:hover {
    color: $yellow;
  }

  &.active {
    background-color: $yellow;
    color: $grey;
    border-color: $yellow;

    &:hover {
      color: $grey;
    }

    & + li {
      border-color: $yellow;
    }
  }
}

.home__content-module-cont {
  background-color: $grey-light;
  padding: 2rem;

  @media (max-width: $mobile) {
    padding: 2rem 0;
  }
}

.home__input-cont {
  max-width: 40rem;
  margin-left: auto;
  transition: all 0.2s;

  &[data-active="false"] {
    opacity: 0.5;
    input {
      cursor: default;
    }
  }
}

.home__module-search {
  margin-bottom: 4rem;
}

.home__divider {
  display: flex;
  margin: 0 1rem 2rem 0;
  margin-top: 2rem;
  &:first-child {
    margin-top: 0rem;
  }
}

.home__divider-text {
  flex-grow: 0;
  margin-right: 2rem;
  text-align: left;
  text-transform: uppercase;
  color: black;
}

.home__divider-line {
  background-color: #b6b6b6;
  flex-grow: 10;
  margin: auto;
  text-align: center;
  height: 1px;
}

.home__module {
  cursor: pointer;
  background-color: $white;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border: 4px solid $white;
  transition: all 0.2s;
  border-radius: 5px;

  &:hover {
    border-bottom: 4px solid $yellow;
  }

  @media (max-width: $mobile) {
    padding: 1rem 1rem;
  }

  &--v2 {
    cursor: auto;
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet) {
      flex-direction: column;
    }

    &:hover {
      border: 4px solid $white;
    }
  }
}

.home__module-info {
  display: flex;
  margin-bottom: 0.5rem;
}

.home__module-container {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet) {
    padding-bottom: 1rem;
    border-bottom: 2px solid $grey-light;
  }
}

.home__study-regime-info {
  margin-top: 0.5rem;
  list-style: none;

  span {
    color: $blue;
    font-weight: bold;
  }
}

.home__repeat {
  text-align: right;
  // font-size: 1.7rem;
  color: $grey;

  @media (max-width: $tablet) {
    text-align: left;
    margin-top: 1rem;
    align-self: flex-start;
  }

  p {
    span {
      color: $blue;
    }
  }

  p:nth-child(1) {
    margin-bottom: 1rem;
    line-height: 1;
    font-size: 1.75rem;
    font-weight: bold;
  }

  p:nth-child(2) {
    margin-bottom: 1rem;
    line-height: 1;
  }

  .home__repeat-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    border: 2px solid $blue;
    transition: all 0.2s;

    svg {
      fill: $blue;
      transition: all 0.2s;
    }

    &:hover {
      border: 2px solid $yellow;

      svg {
        fill: $yellow;
      }
    }
  }

  .home__repeat-item:not(:last-child) {
    margin-right: 0.75rem;
  }
}

.home__counter-container {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;

  margin-right: auto;

  @media (max-width: $tablet) {
    margin-right: 0;
    margin-left: auto;
    order: 3;
    justify-content: flex-start;
  }
}

.home__counter {
  display: flex;
  align-items: stretch;
  text-align: center;
  line-height: 1;
  height: 3.5rem;
  font-size: 2rem;
  border-radius: 5px;

  div {
    // height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.home__counter-subtract,
.home__counter-add {
  cursor: pointer;
  min-width: 3.5rem;
  font-weight: bold;
  font-size: 3rem;
  color: $white;
  background-color: $blue;
  transition: all 0.2s;
  border-radius: 50%;

  &:hover {
    color: $black;
    background-color: $yellow;
    border-color: $yellow;
  }
}

.home__counter-number {
  display: block;
  border-bottom: 2px solid $blue;
  padding: 0 1rem;
  max-width: 6rem;
  overflow: hidden;
}

.home__counter-subtract {
  margin-right: 0.5rem;

  span {
    transform: translateY(-0.5rem);
  }
}

.home__counter-add {
  margin-left: 0.5rem;

  span {
    transform: translateY(-0.3rem);
  }
}

.home__repeat-methods {
  display: flex;
  margin-bottom: 1rem;

  @media (max-width: $tablet) {
    justify-content: flex-start;
  }
}

.home__term-number {
  padding-right: 1rem;
  line-height: 1.5rem;
  color: $grey;
}

.home__module-author {
  border-left: 2px solid $grey-light;
  padding-left: 1rem;
  line-height: 1.5rem;
  color: $grey;
}

.home__module-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: $grey;

  &.blue {
    color: $blue;
  }

  svg {
    fill: $grey-medium;
    margin-left: 0.5rem;
    height: 18px;
    width: 18px;
  }

  @media (max-width: $mobile-sm) {
    font-size: 2rem;
  }

  &--v2 {
    color: $blue;

    @media (max-width: $mobile-sm) {
      font-size: 2.5rem;
    }
  }
}

// =========== Module page

// === Header

.module {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.module__header {
  flex-grow: 0;

  padding: 2rem 0;
}

.module__header-top {
  display: flex;
}

.module__title {
  width: 60%;
  color: $grey;

  @media (max-width: $mobile) {
    font-size: 1.3rem;
  }
}

.module__return {
  width: 40%;
  text-align: right;
}

.module__body {
  flex-grow: 1;
  padding: 3rem 0;
  background-color: $grey-light;
}

.module__title {
  margin-bottom: 3rem;
}

.module__study {
  padding-bottom: 4rem;
  border-bottom: 2px solid $grey-light;
}

.module__study-title {
  color: $grey;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

.module__study-item {
  & button {
    color: $grey;
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
    & svg {
      vertical-align: middle;
      margin-right: 0.5rem;
      fill: $blue;
      transition: all 0.1s linear;
    }
    & span {
      display: inline-block;
      vertical-align: middle;
    }

    &:hover {
      color: $yellow;
      & svg {
        fill: $yellow;
      }
    }
  }
}

.module__info {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.module__author-created {
  color: rgb(134, 134, 134);
  display: block;
  font-size: 1.2rem;
}

.module__author-nickname {
  color: $grey;
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
}

.module__nav {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.module__study-regime,
.module__card-study-regime,
.edit__study-progress {
  display: flex;
  align-items: center;
  line-height: 1;
  color: $grey;
  font-size: 1.5rem;

  & svg {
    margin-left: auto;
    margin-right: 1rem;
    fill: $grey;
    transition: all 0.2s;
  }

  span {
    z-index: 30;
    position: absolute;
    transition: all 0.2s;
    color: $grey;
    margin: 0;
    background-color: $white;
    padding: 1rem;
    border: 2px solid $grey;
    border-radius: 2rem;
    display: none;
  }

  &:hover span {
    display: inline-block;
  }
}

.module__study-regime {
  position: relative;
  padding-right: 1.5rem;
  border-right: 2px solid $grey-light;

  & span {
    margin-right: 1rem;
    top: -4.5rem;
    right: 0rem;
    width: 18rem;
  }
}

.module__card-study-regime {
  position: absolute;
  top: 0;
  left: 0;
  border: none;

  & span {
    margin-right: 1rem;
    top: -4.5rem;
    left: 0rem;
    width: 17rem;
  }
}

.edit__study-progress {
  position: relative;
  padding-right: 1.5rem;
  border-right: 2px solid $grey-light;

  & span {
    top: -4.5rem;
    right: 0rem;
    width: 20rem;
  }
}

.module__checkbox,
.edit__checkbox {
  display: none;
}

.module__checkbox {
  &:checked {
    & ~ span {
      color: $green;
      border-color: $green;
    }

    & ~ .module__toggle-switch {
      border-color: $green;
      &:after {
        left: 23.5px;
        background-color: $green;
      }
    }

    & ~ .module__toggle-switch.sm {
      &:after {
        left: 16px;
      }
    }

    & ~ svg {
      fill: $green;
    }
  }
}

.edit__checkbox {
  &:checked {
    & ~ span {
      color: $red;
      border-color: $red;
    }

    & ~ .edit__toggle-switch {
      border-color: $red;
      &:after {
        left: 23.5px;
        background-color: $red;
      }
    }

    & ~ .edit__toggle-switch.sm {
      &:after {
        left: 16.5px;
      }
    }

    & ~ svg {
      fill: $red;
    }
  }
}

.module__toggle-switch,
.edit__toggle-switch {
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: 2.8rem;
  width: 5rem;
  border-radius: 1.4rem;
  border: 3px solid $grey;
  transition: all 0.2s;

  &.sm {
    height: 20px;
    width: 3.5rem;
    border-radius: 1rem;
    border: 1.5px solid $grey;

    &:after {
      // top: 1px;
      top: 50%;
      transform: translateY(-50%);
      left: 1.5px;
      // left: 50%;
      height: 14px;
      width: 14px;
    }
  }

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 1.5px;
    height: 1.85rem;
    width: 1.85rem;
    background-color: $grey;
    border-radius: 50%;
    transition: all 0.2s;
  }
}

.module__nav-item {
  display: inline-block;
  margin-left: 1.5rem;
  border-radius: 5rem;
  cursor: pointer;

  & svg {
    fill: $grey;
    vertical-align: middle;
    transition: all 0.1s linear;
  }

  &:hover {
    & svg {
      fill: rgba(255, 0, 0, 0.856);
    }
  }
}

.module__edit {
  margin-right: 1rem;
}

// === Body

.module__param {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.module__filter {
  width: 40%;

  @media (max-width: $mobile) {
    margin-top: 1.5rem;
    width: 100%;
  }
}

.module__count {
  color: $grey;
  font-size: 2rem;
  font-weight: bold;
}

.module__card {
  display: flex;
  background-color: $white;
  padding: 2rem;
  min-height: 10rem;
  margin-bottom: 1.5rem;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.module__card-term {
  position: relative;
  width: 30%;
  text-align: center;
  padding: 3rem 1.5rem 0 1.5rem;
  border-right: 2px solid $grey-light;

  font-size: 1.7rem;

  overflow-wrap: break-word;

  @media (max-width: $mobile) {
    width: 100%;
    text-align: left;
    border-right: none;
    border-bottom: 2px solid $grey-light;
    padding: 3rem 1rem 1.5rem 1rem;
  }
}

.module__speaker,
.game__speaker-flashcards,
.game__speaker-write {
  cursor: pointer;
  display: flex;
  position: absolute;

  &.relative {
    position: initial;
  }

  animation-duration: 1.5s;
  animation-iteration-count: infinite;

  svg {
    transition: all 0.2s;
    fill: $black;
    // transform: scale(1.5);
  }

  &:hover {
    svg {
      fill: $yellow;
    }
  }

  &[data-active="false"] {
    cursor: initial;

    svg {
      fill: $grey-medium;
    }

    &:hover {
      svg {
        fill: $grey-medium;
      }
    }
  }

  &[data-speaking="true"] {
    svg {
      fill: $yellow;
    }

    animation-name: example;
  }
}

.module__speaker {
  right: 10px;
  top: 0;
}

.game__speaker-flashcards {
  right: 20px;
  top: 20px;
}

@keyframes example {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.module__card-definition-container {
  width: 70%;

  display: flex;

  @media (max-width: $tablet) {
    flex-direction: column;
  }

  @media (max-width: $mobile) {
    width: 100%;
    padding-top: 1.5rem;
  }
}

.module__card-definition {
  padding: 3rem 1.5rem 0 1.5rem;
  position: relative;
  padding-top: 2rem;
  // display: none;
  font-size: 1.7rem;
  overflow-wrap: break-word;
  text-align: left;

  flex: 1;

  @media (max-width: $tablet) {
    padding: 3rem 1rem 0 1rem;
    flex-direction: column;
  }
}

.module__card-img-container {
  padding: 0 1.5rem;
  align-self: center;
  width: 20%;
  min-width: 12rem;

  margin-left: 1rem;

  &--inactive {
    display: none;
  }

  @media (max-width: $tablet) {
    padding: 0 1rem;
    margin-left: 0;
    margin-top: 1rem;
    width: 100%;
  }
}

.module__card-img {
  margin: 0 auto;
  width: 12rem;
  height: 10rem;
  border-radius: 5px;

  background-size: cover;
  background-position: center;

  @media (max-width: $tablet) {
    margin: 0;
    margin-right: auto;
  }
}

// =========== Edit Intro

.edit__intro {
  padding: 2rem 0;
}

.edit__intro-content {
  display: flex;
  font-size: 2rem;
}

.edit__intro-info {
  width: 60%;
  color: $grey;

  @media (max-width: $tablet) {
    font-size: 1.7rem;
  }
}

.edit__intro-return {
  width: 40%;
  text-align: right;
}

// =========== Edit Module

.edit__module {
  padding: 3rem 0;
}

.edit__module-content {
  display: flex;
  text-align: left;
  font-size: 2rem;
  padding: 0 2rem;

  @media (max-width: $mobile) {
    display: block;
  }
}

.edit__module-title {
  width: 50%;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

// =========== Edit Cards

.edit__cards {
  padding: 2rem 0;
  background-color: $grey-light;
}

.edit__cards-container {
  padding-bottom: 2rem;
}

.edit__cards-card {
  background-color: $white;
  margin-top: 2rem;

  &:first-child {
    margin-top: 0;
  }
}

.edit__cards-header {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $grey-light;
}

.edit__cards-number {
  padding: 1rem 2rem;
  margin-right: auto;
  font-size: 1.7rem;
}

.edit__cards-delete {
  cursor: pointer;
  text-align: right;
  padding: 1rem 2rem;

  font-size: 1.7rem;

  & svg {
    fill: $grey;
  }

  &:hover {
    & svg {
      fill: rgba(255, 0, 0, 0.856);
      // fill: rgba(143, 143, 143, 0.856);
    }
  }

  &-inactive {
    & svg {
      fill: rgba(143, 143, 143, 0.856);
    }

    &:hover {
      & svg {
        fill: rgba(143, 143, 143, 0.856);
      }
    }
  }
}

.edit__cards-items {
  display: flex;
  align-items: center;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.edit__cards-term {
  width: 50%;
  // max-width: 50%;
  // min-width: 40%;
  padding: 2rem;

  text-align: center;

  @media (max-width: $mobile) {
    width: 100%;
    // max-width: 100%;
    // min-width: 100%;
  }
}

.edit__cards-definition {
  width: 50%;
  // max-width: 45%;
  // min-width: 45%;
  padding: 2rem;

  display: flex;

  text-align: center;

  @media (max-width: $mobile) {
    width: 100%;
    // max-width: 100%;
    // min-width: 100%;
  }
}

.edit__cards-definition-input {
  width: 80%;
}

.edit__addimg {
  cursor: pointer;
  position: relative;

  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 20%;
  margin-left: 1rem;

  background-size: cover;
  background-position: center;

  border: none;
  border-radius: 5px;
  padding: 2rem;

  transition: all 0.2s;

  & .edit__img-delete {
    visibility: inherit;
  }

  & .edit__img-logo,
  & span {
    visibility: hidden;
  }

  &[data-imgurl~="false"] {
    border: $grey-medium dashed 2px;
    padding: 1rem 0;

    // background-image: url(https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2020/01/931/524/Charlotte-Moccia-1.jpg?ve=1&tl=1);

    & .edit__img-delete {
      visibility: hidden;
    }

    & .edit__img-logo,
    & span {
      visibility: inherit;
    }
  }

  span {
    font-size: 1rem;
  }

  &:hover .edit__img-logo svg {
    fill: $yellow;
  }
}

.edit__img-delete {
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  background-color: $grey;
  border-radius: 5px;
  padding: 0.5rem;

  svg {
    fill: $white;
    height: 15px;
    width: 15px;
  }

  &:hover {
    background-color: $yellow;

    svg {
      fill: $grey;
    }
  }
}

.edit__img-logo {
  svg {
    height: 18px;
    width: 18px;
    fill: $grey;
    transition: all 0.2s;
  }
}

.edit__img-search-container {
  border-top: 2px solid $grey-light;
  overflow: hidden;
  height: 0;
  transition: all 0.3s;
  display: block;
  visibility: hidden;

  &--active {
    height: 25.5rem;
    visibility: inherit;

    & .edit__img-search {
      transform: translateY(0);
    }
  }
}

.edit__img-search {
  display: block;
  padding: 2rem;
  transition: all 0.3s;
  transform: translateY(-100%);
  transform-origin: top;
}

.edit__searchbar-form {
  min-width: 40rem;
  width: 45%;

  @media (max-width: $mobile) {
    min-width: 100%;
    width: 100%;
  }
}

.edit__searchbar-input-label {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.2s;

  border-bottom: 2px solid $black;

  &:focus-within {
    &::after {
      bottom: -4px;
      height: 4px;
      background-color: $yellow;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    display: inline-block;
    background-color: $black;
    height: 2px;
    width: 100%;
    transition: all 0.2s;
  }
}

.edit__searchbar-input {
  font-family: inherit;
  font-size: 1.7rem;
  text-align: left;
  line-height: 2.6rem;
  overflow-wrap: break-word;

  &::placeholder {
    color: $grey-medium;
  }

  &:not(:placeholder-shown) {
    & ~ .edit__searchbar-icon {
      svg {
        fill: $lightblue;
      }
    }
  }
}

.edit__searchbar-icon {
  cursor: pointer;

  svg {
    width: 15px;
    height: 15px;
  }
}

// =========== Edit Gallery

.edit__search-results {
  margin-top: 2rem;
  position: relative;
}

.edit__gallery-container {
  display: flex;
  justify-content: center;

  height: 15rem;

  transition: all 0.2s;
  transition-delay: 0.2s;

  z-index: 20;

  &--hide {
    visibility: hidden;
    opacity: 0;
    transition-delay: 0;
  }
}

.edit__error-container,
.edit__spinner-container {
  position: absolute;
  opacity: 1;
  height: 100%;
  width: 100%;
  transition: all 0.2s;
  transition-delay: 0.2s;

  z-index: 10;

  &--hide {
    visibility: hidden;
    opacity: 0;
    transition-delay: 0;
  }
}

.edit__error-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit__gallery-control {
  &--left {
    margin-right: 1rem;
  }

  &--right {
    margin-left: 1rem;
  }

  &--left,
  &--right {
    position: relative;
    align-self: center;

    button {
      width: 4rem;
      height: 4rem;
      background-color: $lightblue;

      svg {
        top: 50%;
        left: 50%;
        position: absolute;
        height: 2rem;
        width: 2rem;
        fill: $white;
        transition: all 0.2s;
      }
    }

    &[data-active="false"] {
      button {
        cursor: auto;
        background-color: $grey-medium;

        svg {
          fill: $grey-light;
        }

        &:hover {
          svg {
            fill: $grey-light;
          }
        }
      }
    }

    button:hover {
      svg {
        fill: $black;
      }
    }
  }

  &--left button svg {
    transform: translate(-12px, -10px);
  }

  &--right button svg {
    transform: translate(-7.5px, -10px);
  }
}

.edit__gallery-window {
  width: 68rem;
  overflow: hidden;

  @media screen and (max-width: 62.5em) {
    width: 51rem;
    min-width: 51rem;
  }

  @media screen and (max-width: 50em) {
    width: 34rem;
    min-width: 34rem;
  }

  @media screen and (max-width: 37.5em) {
    width: 17rem;
    min-width: 17rem;
  }
}

.edit__gallery {
  display: flex;
  width: 0;
  height: 100%;
  padding: 0 1rem;

  transition: all 0.3s;

  transform: translateX(0);
}

.edit__gallery-item {
  width: 15rem;
  height: 15rem;
  cursor: pointer;
  transition: all 0.3s;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &:hover {
    border: 5px solid $yellow;
  }
}

.edit__cards-label {
  display: block;
  width: 100%;
  text-align: left;
  color: $grey;
  font-size: 1.5rem;
}

.edit__cards-newcard {
  padding: 3rem 2rem;
  background-color: $white;
  text-align: center;
}

// =========== Edit Save

.edit__save {
  background-color: $grey-light;
  padding-bottom: 2rem;
}

.edit__save-module {
  text-align: right;

  @media (max-width: $mobile) {
    text-align: center;
  }
}

// =========== Spinner

.spinner {
  top: 50%;
  left: 50%;
  margin: -62.5px 0 0 -62.5px;
  display: inline-block;
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid #ff5722;
  animation: spin 2s linear infinite;

  z-index: 1000;

  &--small {
    width: 75px;
    height: 75px;
    margin: -37.5px 0 0 -37.5px;
  }
}

.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 4px solid transparent;
}
.spinner::before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #ff9800;
  animation: spin 3.5s linear infinite;
}
.spinner::after {
  top: 14px;
  left: 14px;
  right: 14px;
  bottom: 14px;
  border-top-color: #ffc107;
  animation: spin 1.75s linear infinite;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// .spinner__background-container {
//   position: relative;
//   z-index: 20;
// }

.spinner__container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 40;

  // @supports (-webkit-bkacdrop-filter: blur(10px)) or
  //   (backdrop-filter: blur(10px)) {
  //   -webkit-bkacdrop-filter: blur(5px);
  //   backdrop-filter: blur(5px);
  //   background-color: rgba($black, 0.1);
  // }
}

.spinner__background {
  // display: inline-block;
  // height: 100%;
  // width: 0;
  position: absolute;
  z-index: 30;
  height: 100%;
  width: 100%;

  @supports (-webkit-bkacdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-bkacdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba($black, 0.1);
  }
}

// =========== Game

.flashcards,
.write {
  // position: absolute;
  // top: 8.5rem;
  // bottom: 0;
  // left: 0;
  // right: 0;
  height: calc(100vh - 8.5rem);
  max-height: 100%;

  background-color: $grey-light;

  @media (max-width: $tablet) {
    top: 4.5rem;
    height: calc(100vh - 4.5rem);
  }
}

.flashcards .container,
.write .container {
  padding: 0;
  height: 100%;
  position: relative;
}

.game__main {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.game__controls-container {
  display: block;
  bottom: 0;
  position: fixed;
  top: 8.5rem;
  width: 19.5rem;

  box-shadow: 0.3125rem 0 1.25rem 0 rgba(0, 0, 0, 0.28);

  z-index: 10;

  // @media (max-width: $mobile) {
  //     top: 7.6rem;
  // }

  background-color: $white;

  @media (max-width: $tablet) {
    position: static;
    width: 100%;
  }
}

.game__controls {
  position: relative;
  height: 100%;
  width: 100%;
}

.game__back {
  @media (max-width: $tablet) {
    display: none;
  }

  border-bottom: 1px solid $grey-light;

  & button {
    & svg {
      fill: $lightblue;
      margin-right: 0.5rem;
      transition: all 0.1s linear;
    }

    &:hover {
      & svg {
        fill: $grey;
      }
    }
  }
  margin-bottom: 3rem;
}

.game__title {
  @media (max-width: $tablet) {
    display: none;
  }

  text-align: center;
  margin-bottom: 3rem;

  & svg {
    vertical-align: middle;
    margin-right: 0.5rem;
    fill: $blue;
  }

  & span {
    vertical-align: middle;
    font-size: 2.4rem;
    color: $blue;
    font-weight: bold;
  }
}

.game__progress {
  padding: 1rem;

  @media (max-width: $tablet) {
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem;
  }
}

.game__progress-item {
  flex: 1;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  @media (max-width: $tablet) {
    &:not(:last-child) {
      margin: 0;
      margin-right: 1.5rem;
    }
  }
}

.game__progress-bar {
  margin: auto;
  height: 1.5rem;
  background-color: $paleblue;
  position: relative;
  margin-bottom: 0.5rem;

  &.red {
    background-color: $palered;
  }

  &.green {
    background-color: $palegreen;
  }

  @media (max-width: $tablet) {
    display: inline-block;
    width: 90%;
    margin: 0;
    height: 1.2rem;
  }

  &.full {
    @media (max-width: $tablet) {
      width: 100%;
    }
  }
}

.game__bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: $blue;
  transition: all 0.2s;

  &.red {
    background-color: $red;
  }

  &.green {
    background-color: $green;
  }
}

.game__progress-info {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet) {
    width: 10%;
  }
}

.game__progress-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: $grey;

  @media (max-width: $tablet) {
    display: none;
  }

  &.show {
    @media (max-width: $tablet) {
      display: block;
      // font-size: 1rem;
      margin-right: 1.5rem;
    }

    @media (max-width: $mobile) {
      font-size: 1.2rem;
    }
  }
}

.game__progress-count {
  font-size: 1.4rem;
  color: $grey;

  @media (max-width: $tablet) {
    margin-left: auto;
  }

  @media (max-width: $mobile) {
    font-size: 1.2rem;
  }
}

.game__control-buttons {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  right: 1.25rem;

  @media (max-width: $tablet) {
    display: none;
  }
}

.game__method {
  margin-bottom: 2rem;

  & button {
    & svg {
      fill: $lightblue;
      vertical-align: middle;
      transition: all 0.1s linear;
      margin-right: 2rem;
    }
    & span {
      vertical-align: middle;
    }

    &:hover {
      & svg {
        fill: $yellow;
      }
    }
  }
}

.game__method-tilte {
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: $grey;
}

.game__method-menu-container,
.game__method-menu-container-modal {
  position: relative;
}

.game__method-menu {
  text-transform: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: $white;
  border: 1px solid $blue;
}

.game__method-menu-item {
  vertical-align: middle;
  text-align: center;

  &:hover {
    color: $white;
    background-color: $blue;
  }
}

// .game__shuffle {

// }

.game__shuffle,
.game__shuffle-modal {
  & button {
    & svg {
      fill: $lightblue;
      vertical-align: middle;
      transition: all 0.1s linear;
      margin-right: 2rem;
    }
    & span {
      vertical-align: middle;
    }

    &:hover {
      & svg {
        fill: $yellow;
      }
    }
  }

  &.active {
    button {
      background-color: $yellow;
      color: $grey;

      svg {
        fill: $grey;
      }

      &:hover {
        svg {
          fill: $grey;
        }
      }
    }
  }
}

.game__content-container {
  flex: 1;
  margin-left: 19.5rem;
  padding: 2.5rem;
  position: relative;
  width: 100%;
  height: 100%;

  overflow: auto;

  @media (max-width: $tablet) {
    margin: 0;
  }
}

.game__content {
  padding: 2.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @media (max-width: $tablet) {
    padding: 1.2rem;
  }
}

.game__components {
  margin: 0 auto;
  width: auto;
  height: 100%;
  max-width: 67.5rem;
}

// Write game -----

.game__question,
.game__answer,
.game__round,
.game__finish {
  background-color: $white;
  padding: 2.5rem 4rem;
  margin-bottom: 1rem;

  @media (max-width: $mobile) {
    padding: 1.5rem 3rem;
  }
}

.game__question-dontknow {
  margin-bottom: 2rem;
  text-align: right;
  color: $lightblue;
  transition: all 0.2s;

  & span {
    cursor: pointer;
  }

  &:hover {
    color: $yellow;
  }
}

.game__question-img {
  height: 30rem;
  width: 32rem;
  margin-bottom: 2rem;
  background-position: center;
  background-size: cover;
  background-image: url(https://resize.hswstatic.com/w_907/gif/seal-point.jpg);

  @media (max-width: $mobile) {
    height: 23rem;
    width: 24rem;
  }

  @media (max-width: $mobile-sm) {
    width: 100%;
  }
}

.game__question-defenition {
  // display: flex;
  font-size: 2rem;
  position: relative;
  padding-right: 2.75rem;

  // & p {
  //   flex: 1;
  // }

  @media (max-width: $mobile) {
    font-size: 1.5rem;
  }
}

.game__form {
  display: flex;
  margin-top: 1.5rem;
  border-top: 0.2rem solid #f4f4f4;
  padding-top: 1.5rem;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.game__form-fieldset {
  border: none;
  flex: 1;

  & label {
    text-transform: uppercase;
    color: $grey-lighter;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    transition: all 0.2s;
  }
}

.game__form-input {
  padding: 0.2rem 1rem;
  position: relative;
  transition: all 0.2s;
  margin-bottom: 0.5rem;

  border-bottom: 2px solid $black;

  & input {
    font-size: 1.5rem;
  }

  &:focus-within {
    &:after {
      bottom: -4px;
      height: 4px;
      background-color: $yellow;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    display: inline-block;
    background-color: $black;
    height: 2px;
    width: 100%;
    transition: all 0.2s;
  }

  &[data-correct="true"] {
    border-color: $green;

    & + label {
      color: $green;
    }

    &:focus-within {
      &:after {
        background-color: $green;
      }
    }

    &:after {
      background-color: $green;
    }
  }
}

.game__form-btn-container {
  margin-left: 2rem;

  @media (max-width: $mobile) {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.game__answer-type {
  line-height: 1;
  &.correct {
    color: $green;
  }

  &.incorrect {
    color: $red;
  }

  margin-bottom: 2.5rem;
}

.game__answer-section {
  &:not(:first-child) {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 0.2rem solid #f4f4f4;
  }
}

.game__section-title {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $grey-lighter;
}

.game__section-img {
  height: 30rem;
  width: 32rem;
  background-image: url(https://farm8.staticflickr.com/7056/6869762317_78487198aa.jpg);
  // background-image: url(https://tinhtamvn.net/wp-content/uploads/2019/02/image001.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;

  @media (max-width: $mobile) {
    height: 23rem;
    width: 24rem;
  }

  @media (max-width: $mobile-sm) {
    width: 100%;
  }
}

.game__section-body {
  position: relative;
  padding-right: 2.75rem;
  // display: flex;

  @media (max-width: $mobile) {
    // flex-direction: column;
  }
}

.game__override {
  margin-left: 1rem;
  text-align: right;

  @media (max-width: $mobile) {
    margin-top: 1rem;
  }
}

.game__section-text {
  flex: 1;
}

.game__speaker-write {
  // align-self: flex-end;
  // margin-left: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;

  @media (max-width: $mobile) {
    // margin-top: 1rem;
    // flex-direction: column;
  }
}

.game__answer-continue {
  margin-top: 3rem;
  text-align: center;

  &[data-correct="false"] {
    & button {
      background-color: $grey-lighter;

      &:hover {
        background-color: $grey-lighter;
        color: $white;
      }
    }
  }
}

// Game round ----

.game__round-title {
  margin-bottom: 2.5rem;
  color: $grey;
}

.game__round-body {
  margin-bottom: 3rem;
}

.game__score-field {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  color: $grey;

  &--correct {
    color: $green;
  }

  &--incorrect {
    color: $red;
  }

  &:not(:last-child) {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 0.2rem solid #f4f4f4;
  }
}

.game__score-title {
  flex: 1;
}

.game__score-number {
  display: inline-block;
  margin-left: 2.5rem;
}

.game__score-percent {
  display: inline-block;
  margin-left: 2.5rem;
}

.game__round-continue {
  text-align: center;
}

// Game finish ----

.game__finish-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;

  @media (max-width: $mobile-sm) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.game__finish-header-item {
  @media (max-width: $mobile-sm) {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

.game__finish-title {
  line-height: 1;
  margin-bottom: 0.6rem;
}

.game__finish-round-stats {
  line-height: 1;
  color: $grey-lighter;
}

// .game__finish-body {
// }

.game__finish-body-item {
  display: flex;

  &:not(:first-child) {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 0.2rem solid #f4f4f4;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.game__finish-body-left,
.game__finish-body-right {
  flex: 1;
}

.game__finish-body-left {
  align-self: start;
  display: flex;
  align-items: flex-start;

  @media (max-width: $mobile) {
    margin-bottom: 1.5rem;
  }
}

.game__finish-icon {
  display: flex;
  margin-right: 1rem;

  &--correct svg {
    fill: $green;
  }

  &--incorrect svg {
    fill: $red;
  }
}

.game__finish-term {
  line-height: 1;
  display: inline-block;
  &--correct {
    color: $green;
  }

  &--incorrect {
    color: $red;
  }
}

.game__finish-img {
  height: 7.5rem;
  width: 10rem;
  margin-top: 1rem;

  background-size: cover;
  background-position: center;
}

// Flashcard game -----

.game__cards-container {
  width: 100%;
  height: 80%;

  // background-color: green;
  perspective: 1000px;
  position: relative;

  @media (max-width: $tablet) {
    height: 100%;
  }
}

// .game__card {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;

//     background-color: $white;
//     width: 100%;
//     height: 100%;
//     border-radius: 1rem;

//     box-shadow: 0 0 1.25rem -0.1rem rgba(0,0,0,.28);
//     transform-style: preserve-3d;
//     transition: transform .30s ease, opacity .12s linear; //!important
//     opacity: 1;

//     text-align: center;

//     &.transparent {
//         opacity: 0;
//         z-index: -10;

//     }

//     &.prev {
//         transform: translateX(-16%) rotateY(16deg) translateZ(0);
//     }

//     &.next {
//         transform: translateX(16%) rotateY(-16deg) translateZ(0);
//     }

//     &.flipped {
//         transform: rotateX(180deg);
//     }

//     // &:hover {
//     //     transform: rotateX(180deg);
//     //     // transform: translateX(16%) rotateY(-16deg) translateZ(0);
//     //     // opacity: 0;
//     // }
// }

.game__card {
  transition: transform 0.3s ease, opacity 0.12s linear;

  opacity: 1;

  text-align: center;

  // &:hover {
  //     transform: rotateX(180deg);
  //     // transform: translateX(16%) rotateY(-16deg) translateZ(0);
  //     // opacity: 0;
  // }
}

.game__card-front,
.game__card-back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: $white;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 1.25rem -0.1rem rgba(0, 0, 0, 0.28);
  transform-style: preserve-3d;
  transition: transform 0.3s ease, opacity 0.12s linear;
  backface-visibility: hidden;
  z-index: 19;
  transform: rotateX(0deg);

  &.transparent {
    opacity: 0;
    z-index: -10;
  }

  &.prev {
    transform: translateX(-16%) rotateY(16deg) translateZ(0);
  }

  &.next {
    transform: translateX(16%) rotateY(-16deg) translateZ(0);
  }

  &.unturnable {
    background-color: transparent;
    box-shadow: none;
  }
}

.game__card-front {
  display: flex;
  &.rearside {
    transform: rotateX(180deg);
    z-index: -10;
  }

  &.unturnable {
    display: block;

    &.rearside {
      transform: none;
      z-index: 0;
    }
  }
}

.game__card-back {
  &.rearside {
    transform: rotateX(-180deg);
    z-index: -10;
  }

  &.unturnable {
    &.rearside {
      transform: none;
      z-index: 0;
    }
  }
}

.game__img-container {
  margin: 0 auto;
  position: relative;
  height: 100%;
  width: 55%;

  &.full {
    width: 100%;
    margin: 0 3rem;
  }

  @media (max-height: $h-tablet) {
    width: 50%;
  }

  @media (max-height: $h-mobile) {
    width: 45%;
  }

  @media (max-height: $h-mobile-sm) {
    width: 40%;
  }
}

.game__img {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  bottom: 1.5rem;
  right: 0.75rem;
  margin: auto 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.game__defenition-container {
  text-align: center;
  position: relative;
  height: 100%;
  width: 45%;

  &.full {
    width: 100%;
    padding: 0 3rem;

    & .game__defenition {
      right: 3rem;
      left: 3rem;
    }
  }

  @media (max-height: $h-tablet) {
    width: 50%;
  }

  @media (max-height: $h-mobile) {
    width: 55%;
  }

  @media (max-height: $h-mobile-sm) {
    width: 60%;
  }
}

.game__defenition {
  position: absolute;
  top: 6rem;
  right: 1.5rem;
  bottom: 6rem;
  left: 0.75rem;
  overflow: auto;
  font-size: 1.9rem;
  display: grid;
  color: $grey;

  p {
    margin: auto;
    text-align: left;
  }
  @media (max-width: $tablet) {
    font-size: 1.8rem;
  }

  @media (max-width: $mobile) {
    font-size: 1.7rem;
  }

  @media (max-width: $mobile-sm) {
    font-size: 1.6rem;
  }
}

.game__term-container {
  position: relative;

  height: 100%;
  width: 100%;

  font-size: 3rem;
  color: $grey;

  @media (max-width: $tablet) {
    font-size: 2.8rem;
  }

  @media (max-width: $mobile) {
    font-size: 2.6rem;
  }

  @media (max-width: $mobile-sm) {
    font-size: 2.4rem;
  }
}

.game__term {
  overflow: auto;
  position: absolute;
  top: 6rem;
  right: 1.5rem;
  bottom: 6rem;
  left: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.game__card-message {
  font-size: 4.5rem;
  color: $grey;
}

.game__card-message-info {
  font-size: 1.7rem;
  color: $grey;
}

.game__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 20%;
  pointer-events: none;

  @media (max-width: $tablet) {
    position: fixed;
    left: 0;
    bottom: 0;
    min-height: 8rem;
    // height: 20%;
  }

  // @media max-width: $mobile {
  //     min-height: 4.5rem;

  // }
}

.game__nav-item {
  width: 50%;
  padding: 0 5rem;
  // margin: auto;

  @media (max-width: $tablet) {
    align-self: flex-end;
    margin-bottom: 4rem;
  }

  @media (max-width: $mobile) {
    margin-bottom: 2rem;
  }

  & button {
    pointer-events: auto;

    z-index: 20;
    width: 5rem;
    height: 5rem;
    box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.28);

    @media (max-width: $tablet) {
      height: 4rem;
      width: 4rem;
    }

    & svg {
      transition: all 0.1s linear;
      fill: $lightblue;
      position: absolute;
      height: 2.5rem;
      width: 2.5rem;

      @media (max-width: $tablet) {
        height: 2rem;
        width: 2rem;
      }
    }

    &:hover {
      & svg {
        fill: $grey;
      }
    }
  }

  &.prev {
    & button {
      margin-left: auto;

      @media (max-width: $tablet) {
        margin: 0 auto 0 0;
      }

      @media (max-width: $mobile) {
        margin: 0 0 0 auto;
      }

      & svg {
        top: 50%;
        left: 50%;
        transform: translate(-15px, -12.5px);

        @media (max-width: $tablet) {
          transform: translate(-12px, -10px);
        }
      }
    }
  }

  &.next {
    & button {
      @media (max-width: $tablet) {
        margin: 0 0 0 auto;
      }

      @media (max-width: $mobile) {
        margin: 0;
      }

      & svg {
        top: 50%;
        left: 50%;
        transform: translate(-9.5px, -12.5px);

        @media (max-width: $tablet) {
          transform: translate(-8px, -10px);
        }
      }
    }
  }
}

.game__nav-question {
  pointer-events: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: $white;
  box-shadow: 0 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.28);
  padding: 1rem;
  border-radius: 1rem;
  height: 10rem;
  align-self: flex-end;

  transition: all 0.5s;

  transform: translateY(20rem);
  opacity: 0;

  &[data-active="true"] {
    transform: translateY(0);
    opacity: 1;
  }

  & p {
    font-size: 1.7rem;
    width: 100%;
  }

  @media (max-width: $tablet) {
    margin-bottom: 2rem;
  }

  @media (max-width: $mobile) {
    width: 25rem;
  }
}

.game__nav-answer {
  z-index: 30;
  pointer-events: auto;
  cursor: pointer;
  display: inline-block;
  padding: 1rem 3.5rem;
  border-radius: 0.75rem;
  transition: all 0.2s;
  color: $white;

  &:hover {
    animation: pulse 1.25s linear infinite;
  }

  &[data-answer="true"] {
    background-color: $palegreen;

    &:hover {
      background-color: $green;
    }
  }

  &[data-answer="false"] {
    background-color: $palered;

    &:hover {
      background-color: $red;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@import "helpers";
